$primary-color: #444; 
$secondary-color: #6EA3DB;
$show-home-image: true;
$home-image: url('../img/IMG_3368.jpeg');
$background-opacity: 0.9;

@mixin easeOut {
    transition: all 1.5s ease-out;   
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: 
            linear-gradient(
                to right,
                rgba($primary-color, 0.90),
                rgba($primary-color, 0.25)
            ),
            url('../img/IMG_3368.jpeg') center top;
        }
    }
}